@model IEnumerable<BookSystem.Models.Livro>

@{
    ViewData["Title"] = "Livros";
}

<h1>Livros</h1>

<p>
    <a asp-action="Create">Adicionar Livro</a>
</p>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
                @foreach (var livro in Model)
                {
                <div class="col">
                  <div class="card shadow-sm">
                  <img class="card-img-top" src="@livro.Foto" width="100%" height="225" alt="Card Img">      
                    <div class="card-body">
                            <p class="card-text">@Html.DisplayFor(modelItem => livro.Titulo)</p>
                            <p class="card-text">Preço: @Html.DisplayFor(modelItem => livro.Preco)</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@livro.ID">Ver</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id ="@livro.ID">Editar</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@livro.ID">Excluir</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                }
           
